/* main css*/
body{

    background-color: rgb(33, 37, 41);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
    }
    
    .navbar{
    
    background-color: gray;
    
    }
    
      
    #holiday_banner{
    
    height: 140px;
    width: 100%;
    border-radius: 10px;
    
    }
    
    
    #nav_id_:hover{
    
    box-shadow: 0 0 10px #cab68b;
    
    
    }
    
    #nav_id_{
    
        text-decoration: none;
        color: rgb(223, 223, 323);
        margin: 0 10px;
        transition: transform .5s;
        box-shadow: 0 0 10px #463c61;
        border-radius: 30px;
    }
    
    p{
        color: white;
        text-align: justify;
    }
    
    
    @media (max-width:991px){
    
    nav a{
    
    text-align: center;
    
    }
    
    }
    
    
    
    /* main css*/


    /* utazas*/
.card{

        background-color: rgb(33, 37, 41);
        border: 1px solid black;
        box-shadow: 0 0 5px yellow;
}

#box-text-shadowing{

    text-shadow: 0 0 3px white;

}

.card-text{

text-align: justify;

}

h1{

text-align: center;

    }

#szallas{

    transition: transform .5s;
    width: 216px;
    height: 162px;

}

#szallas:hover{

    transform: scale(2);

}

#ugras{

    background-color: #523b63;
    width: auto;
    height: 30%;
    color: white;
    }

#gallery{

width: 300px;
height: 200px;
margin: 0 0 20px;
transition: transform .5s;
}

#gallery:hover{

transform: scale(2);

}